<.navbar current_page="map" page_title="Global Team Map" />

<!-- Map Legend -->
<.map_legend />

<!-- Full Page Content -->
<main class="pt-16 h-screen w-full overflow-hidden m-0 p-0">
  <.flash_group flash={@flash} />
  <div class="h-full w-full m-0 p-0">
    <%= @inner_content %>
  </div>
</main>