<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
    <meta name="color-scheme" content="light dark" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · Zonely">
      <%= assigns[:page_title] || "Zonely" %>
    </.live_title>

    <.posthog_browser_config />
    <meta name="theme-color" content="#0F172A" />
    <link rel="icon" href={~p"/favicon.ico"} sizes="any" />
    <link rel="icon" type="image/svg+xml" href={~p"/favicon.svg"} />
    <link rel="icon" type="image/png" sizes="32x32" href={~p"/favicon-32x32.png"} />
    <link rel="apple-touch-icon" sizes="180x180" href={~p"/apple_touch_icon.png"} />
    <link rel="manifest" href={~p"/site.webmanifest"} />

    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <link href="https://unpkg.com/maplibre-gl@5.7.1/dist/maplibre-gl.css" rel="stylesheet" />

    <script src="https://unpkg.com/maplibre-gl@5.7.1/dist/maplibre-gl.js">
    </script>
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="bg-[var(--bg)] text-[var(--fg)] antialiased m-0 p-0">
    <%= @inner_content %>
  </body>
</html>
